@mixin stretch-to-edge {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin padding-tb($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin padding-lr($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin margin-tb($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin margin-lr($margin) {
  margin-left: $margin;
  margin-right: $margin;
}