#top {
  margin-bottom: 0;
}

section.landing {
  color: #fff;
  margin-bottom: 0;
  position: relative;
  height: 500px;
  
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .color-overlay {
    position: absolute;
    @include stretch-to-edge;
    background-color: rgba(0,0,0,0.3);
  }
  .content-wrap {
    position: absolute;
    @include stretch-to-edge;
    .container {
      height: 100%;
      .hero-heading-wrap, .hero-text-wrap { 
        display: table; 
        width: 100%;
        &>div {
          display: table-cell; 
          vertical-align: middle;
          text-align: center;
        }
      }
      .hero-heading-wrap{
        height: 80%;
        h1 {
          font-size: 3*$font-size;
          line-height: 1;
          font-weight: 800;
          border: 10px solid #fff;
          display: inline-block;
          padding: 30px;
        }
      }
      .hero-text-wrap { 
        height: 20%;
      }
    }
  }
  
}

section.howto-list {
  @include padding-tb(30px);
}