extend ./base

block content
  
  section.home-section#landing.home-section
    .head-image.parallax-me
      .color-overlay
      .content-wrap
        .container
          .hero-heading-wrap
            .hero-heading 
              h1 ♥ 爱上制作
          .hero-text-wrap
            .hero-text 
              p.lead 你想做什么？
    



  section.home-section#landing-words
    .container.text-center
      h1 “创造非难事”
      p.lead 老爹和你分享知识，带你动手学习、爱上制作





  section.home-section#howto-section.striped
    .head-image.parallax-me
      .color-overlay
      .content-wrap
        .container
          .hero-heading-wrap
            .hero-heading 
              h1 教程 | How to
    .container
      h2.section-sub-heading 
        |带你开始动手学习 爱上制作
      .row
        .col-md-4
          .card.item
            +card-img("img/sample-1.jpg")
            .card-content
              h3 hello
              small 作者：diandian
        .col-md-4
          .card.item
            +card-img("img/sample-2.jpg")
        .col-md-4
          .card.item
            +card-img("img/sample-3.jpg")
      div.text-center
        .btn
          |更多教程




  //- section.home-section#sharing-section
  //-   .head-image
  //-     .color-overlay
  //-     .content-wrap
  //-       .container
  //-         .hero-heading-wrap
  //-           .hero-heading 
  //-             h1 Share | 分享
  //-   .container
  //-     h1 分享 <small>Sharing</small>
  //-     p.lead.text-center 
  //-       h1.text-center 与你分享创造的知识 快乐 热情 





  //- section.home-section#activity-section.striped
  //-   .container
  //-     h1 活动 <small>Activity</small>