extend ./base

block content
  section#sec-1
    .container
      |lorem ipsum 1
  section.sec-2
    .container
      |lorem ipsum 2
  section#sec-3
    .container
      |lorem ipsum 3
  section.sec-2
    .container
      |lorem ipsum 4